@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (max-width: 1199px) { @content; }
}
@mixin for-desktop-up {
    @media (max-width: 1699px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1700px) { @content; }
}

@keyframes glidein {
    0% {
        transform: translate(-100%);
    }
    100% {
        transform: translate(0%);
    }
}
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.Hero {
    @include for-phone-only{
        justify-content: flex-start;
        height: 40vh;
    }    
    display: flex;
    width: 100%;
    height: 30vh;
    background-color: #2b415e;
    align-items: center;
    justify-content: space-between;

}

.HeroText p{
    @include for-phone-only{
        font-size: 3em;
        margin: 10px 0 0 20px;
    }

    opacity: 0;
    animation-name: glidein;
    animation-duration: 1s;
    animation-delay: .5s;
    animation: fadein 1.3s .2s 1 forwards,
    glidein 1s .2s 1 forwards;
    margin: 20px 0 0 570px; 
    text-align: left;
    font-size: 3em;
    font-family: 'Roboto 500';
    color: rgb(199, 199, 199);

}
.HeroLogo {
    @include for-phone-only{
        display: none;
    }
    height: 65%;
    float: right;
}
.HeroLogoContainer {
    @include for-tablet-portrait-up{
        display: flex;
        height: 100%;
        align-items: center;
        margin-right: 50px;
    }
}
.Squares {
    margin-left: -30px;
}

