.Card {
    font-family: 'Roboto';
    margin-top: 150px;
}


.CardText {
    width: 40%;
    padding-left: 12%;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: left;
    line-height: 2;
    font-family: 'Roboto 300';
    font-size: 1.3em;
    color: #415672;
}

.Header {
    font-family: 'Roboto';
    font-size: 3em;
    color: #415672;
    margin-bottom: 100px;
}
.SectionHeader {
    font-family: 'Roboto';
    font-size: 2.2em;
    color: #415672;
    margin-bottom: 50px;
    text-align: left;
    padding-left: 12%;
}
.Skip {
    font-size: 0.5em;
}