@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1600px) { @content; }
}

.About {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 150px 0;
    @include for-phone-only {
        margin-top: 50px;
    }
}
.AboutText p {
    margin-right: 0;
}
.AboutText {
    @include for-phone-only {
        width: 85%;
        font-size: 1.1em;
        margin: 40px 20px 100px 20px;
        padding: 0;
    }
    display: inherit;
    width: 60%;
    padding-left: 12%;
    text-align: left;
    line-height: 2;
    font-family: 'Roboto 300';
    font-size: 1.3em;
    color: #415672;

}
.Header {
    text-align: center;
    font-family: 'Roboto 500';
    font-size: 3.5em;
    color: #415672;
    margin: 100px 0;
    @include for-phone-only {
        margin-bottom: 50px;
    }
}
.Image {
    display: none;
    @include for-big-desktop-up{
        display: inherit;
        margin-right: 250px;
        width: 400px;
        height: auto;
    }
}