.Card {
    position: relative;
    width: 30%;
    height: 200px;
    border-radius: 10px;
    color: #4e688a;
    padding: 0px 20px;
    display: inline-block;

    justify-content: left;
    margin: 20px;
    z-index: 3;
}
