.Triangle {
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: rgb(130, 177, 161);
    transform: rotate(45deg);
    margin-left: 80%;
    z-index: 0;
    overflow: hidden;
}