@font-face {
  font-family: 'Roboto 300';
  src: local('Roboto 300'), url(./fonts/Roboto 300.ttf)
}
@font-face {
  font-family: 'Roboto 500';
  src: local('Roboto 500'), url(./fonts/Roboto 500.ttf)
}
@font-face {
  font-family: 'Roboto 700';
  src: local('Roboto 700'), url(./fonts/Roboto 700.ttf)
}
@font-face {
  font-family: 'Roboto regular';
  src: local('Roboto regular'), url(./fonts/Roboto regular.ttf)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
